.result-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-star {
  display: flex;
  justify-content: center;
}

.results-table {
  border: 7px solid;
  border-radius: 10px;
  background-color: white;
  width: 200px;
  height: 200px;
  font-family: "Odibee Sans", sans-serif;
}

.score {
  font-size: 55px;
  justify-self: center;
  margin-top: 10px;
}

.score__values {
  font-size: 45px;
  justify-items: right;
  margin-right: 10px;
}

.number {
  color: black;
}

